@model IEnumerable<Proyecto_Analisis.Model.Factura>

@{
    ViewData["Title"] = "FacturasFinalizadas";
}

<h1>Facturas finalizadas</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FechaEmision)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreComercial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MontoTotal)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FechaEmision)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreComercial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MontoTotal)
            </td>
            <td>
                <a asp-action="Detalles" asp-route-ID_Factura="@item.CodigoFactura">Detalles</a> |
            </td>

        </tr>
}
    </tbody>
</table>
